@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: rgb(13, 106, 134);
  --primary-color-darker: rgb(10, 80, 101);
  --danger: rgb(255, 100, 100);
  --success: rgb(0, 200, 0);
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  padding: 50px;
  width: fit-content;
  background: #fff;
  margin: 50px 0;
  border-radius: 10px;
}

.container > ul {
  padding-left: 5%;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

#reveal-password {
  display: inline;
  height: auto;
  width: auto;
}

.error-message {
  font-size: 1rem;
  background: var(--danger);
  padding: 10px;
  color: white;
  font-weight: 700;
}

.success-message {
  font-size: 1rem;
  background: var(--success);
  padding: 10px;
  color: white;
  font-weight: 700;
}

@media (max-width: 425px) {
  .calculadora {
    width: auto;
  }
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}